<center>
<div class="topnav">
		<h1>G U C C I </h1>
		<br>
		<a class="active" href="#home">WHAT'S NEW</a>
		<a href="#news">WOMEN</a>
		<a href="#contact">MEN</a>
		<a href="#about">CHILDREN</a>
		<a href="#about">JEWELLERY</a>
		<a href="#about">DÉCOR</a>
		<a href="#about">GIFTS</a>
		<a href="#about">STORIES</a>
	</div>
</center>